.DS_Store

.pyc
experiments.pkl
.json
.mlq
mlpath/mlquest/__pycache__/__init__.cpython-39.pyc
mlpath/mlquest/__pycache__/mlquest.cpython-38.pyc
mlpath/mlquest/__pycache__/mlquest.cpython-39.pyc
mlquests/experiments.mlq
