<!DOCTYPE html>
<html>
  <head>
    <title>Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/icon.png">
  </head>
  <body>

    <div class="logo-top">
      <a href="/">
        <img src="/static/logo.png" alt="logo" style="width: 40rem; ">
      </a>
    </div>
    
    <!--  if app.py decides to render this html file and specifies an err_msg then we show it in an h1 -->
    {% if err_msg %}  
    <h1 class="error-msg">{{ err_msg }}</h1>
    {% endif %}
 
    <div class="hero">
      <div class="upload">
        <h2>Upload Your File</h2>
        <form method=post enctype=multipart/form-data>
             <div class="choose"><span>Choose Your File</span><input type=file name=file class="file-btn"></div>
             <div class="up" id="upload"><span>Start Doing the Magic!</span><input type=submit value=Upload class="up-btn" ></div>
        </form>
      </div>
      
      <div class="output">
        <!-- If app.py decides to render this html file and specifies the model_output, then the model must have finished -->
        {% if model_output %}
          <p> {{model_output}}</p>
        <!-- otherwise show a loading message, which should be hidden unless the user actually clicked upload as
           handled with Javascript below  -->
        {% else %}
          <p id="loading">Hold tight. The model is working hard to give you a good output.</p>
        {% endif %}
      </div>
    </div>

  </body>
</html>

<script>
  document.getElementById("upload").addEventListener("click", function(){
  document.getElementById("loading").style.display = "block";
});
</script>
    