<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="./dist/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/icon.png">
    <title>Home</title>
  </head>



  <body>

    <div class="logo">
      <a href="/">
        <img src="/static/logo.png" alt="logo" style="width: 70rem; ">
      </a>    
    </div>


    <div class="content" >
      <p style="text-align: center">
        ML<span>Path</span> also provides a basic skeleton for a web application that can be used to <span>deploy your model.</span>
        <br>
        With basic knowledge of HTML, CSS, Javascript and Python it will take you no time to 
        familiarize yourself with Flask and deploy your model.
      </p>
    </div>

    <div class="action"><a href="/model">Go to Model</a></div>


  </body>




</html>